YOUTUBE_API_KEY=your_youtube_data_api_key_here
YOUTUBE_CHANNEL_ID=@YourYouTubeHandle
YOUTUBE_MAX_VIDEOS=100
YOUTUBE_MAX_COMMENTS_PER_VIDEO=100
YOUTUBE_DEBUG=0

INSTAGRAM_USER_ID=your_instagram_business_or_creator_account_id
INSTAGRAM_ACCESS_TOKEN=your_long_lived_instagram_graph_api_token
INSTAGRAM_GRAPH_VERSION=v25.0
INSTAGRAM_MAX_MEDIA=50
INSTAGRAM_MAX_COMMENTS_PER_MEDIA=25
INSTAGRAM_DEBUG=0

KIT_API_KEY=your_kit_api_v4_key
KIT_MAX_SUBSCRIBERS=500
KIT_MAX_ASSETS=100
KIT_MAX_BROADCASTS=25
